.card-1 {
  border-top: 5px solid #ff4f64;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.card-2 {
  border-top: 5px solid #00a8e7;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.card-3 {
  border-top: 5px solid #44c4a1;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.card-4 {
  border-top: 5px solid #fcc200;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

/* Write CSS code here. */
.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.role-name {
  font-family: 'roboto';
  font-weight: bold;
}
.role-des {
  font-family: 'roboto';
  color: #64748b;
}
.image-size {
  height: 80px;
  align-self: flex-end;
}
li {
  list-style-type: none;
}
.container {
  display: flex;
  flex-direction: row;
  columns: 2;
}
